<p>String Interpolation</p>
<input type="text" value="{{stringInterpolation}}">
<p>Property binding</p>
<input type="text" [value]="intInterpolation">
<h3 [ngClass] = "{redBorder: true}"> Styled and nice!</h3>
<h3 [ngStyle] = "{color: 'green'}"> Styled and nice!</h3>
<p>
  other works! <br />
  {{stringInterpolation}}
  {{intInterpolation}}
</p>

<app-another></app-another>
<app-property-binding [result]="10"></app-property-binding>
<app-event-binding (clicked)="pressedClickButton($event)" ></app-event-binding>
